<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<!--Storage of study time-->
	<script type = "text/javascript" src="js/graphs.js"></script>

	<!-- Include the JQuery library for ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
	<title> Be productive! </title>


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<!--Navigation bar-->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				  <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">
				  <i class="fa fa-play-circle"></i>Slacker Hacker
				</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<li class="hidden"> <a href="#page-top"></a> </li>
					<li> <a class="page-scroll" href="#analysis">Analysis</a></li>
					<li> <a class="page-scroll" href="#blacklist">Blacklist</a> </li>
					<li> <a class="page-scroll" href="#to-do">My TO-DO's</a> </li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Header -->
	<header class="intro">
		<div class="intro-body">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-md-8 col-md-offset-2">
			  <h2 class="brand-heading" id="reminders">Welcome to Slacker Hacker</h2>
			 <br> <br> <br>
				<h4 class="into-text" id="quote"> Be productive! </h4>

			</div>
		  </div>
		</div>
		</div>
	</header>


	<!-- Analysis -->
  <section id="analysis" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
		  <h2>Daily analysis</h2>
		  <div id="donutchart"></div> <div id='png'></div>
		  <div id ="graphchart"></div> <div id='png1'></div>
			<div id ="SiteGraph"></div> <div id='png1'></div>
		</div>
	</div>
	<button type="button" id = 'shareButton'>Share on Facebook!</button>
	<div id="link"></div>
	<a id="page">fb</a>
	</section>

	<!-- list Section -->
    <section id="blacklist" class="content-section text-center">
		<div class="blacklist-section">
			<div class="container-fluid">
				<div class="col-lg-8 col-lg-offset-2">
				  <h2>Blacklist</h2>
				  <p> Add more website to your block list to increase productivity! </p>
					<!-- <form method="post" id="blacklist-form">
						<div id="category-div" class="form-div">
							<label>Category: </label> <br> <input type="text" name="category" required>
						</div>
						<div id="url-div" class="form-div">
							<label>Website URL:</label> <br> <input type="text" name="url" required>
						</div>
						<br>
						<input type="submit" value="Submit">
					</form> -->
					<a href="http://people.eecs.ku.edu/~psundara/exten/BlockSite.html">Click here to block websites</a>
				</div>
			</div>
		</div>
	</section>

	<!-- TO-DO Section -->
    <section id="to-do" class="container content-section text-center">
		<div ng-controller="TodoCtrl" class="container" ng-app="TodoApp">
			<h1> My to-do list </h1> <br>
			<!-- Save todo item form -->
			<form name="todoForm">
				<input type="text" name="todoNameField" ng-model="todoName" placeholder="Add new task"
					   class="form-control"
					   ng-keyup="($event.keyCode == 13 && todoName.length > 2) ? addtodo() : return"
					   style="margin-bottom: 10px"/>
				<button ng-click="addTodo()" ng-hide="myForm.todoNameField.$invalid" class="btn btn-primary" type="button" style="border-radius: 3px">Add to-do</button>
			</form>
			<br> <br> <br>

			<!--Status: Pending -->
			<h4 ng-show="(todos | filter:{status: 'pending'}).length">Pending</h4>
			<div ng-repeat="todo in todos | filter:{status: 'pending'}" class="row list-item">
				<div class="col-md-6"> <span>{{todo.name}}</span> </div>
				<div class="col-md-6 text-right">
					<a class="btn btn-warning" ng-click="startTodo($index, todo)" style="border-radius: 6px">Start working</a>
					<a class="btn btn-danger" ng-click="removeTodo($index, todo)">
						<i class="glyphicon glyphicon-remove"></i> Remove</a>
				</div>
			</div> <br>

			<!-- In progress to-do -->
			<h4 ng-show="(todos | filter:{status: 'in progress'}).length">In Progress</h4>
			<div ng-repeat="todo in todos | filter:{status: 'in progress'}" class="row list-item bg-warning">
				<div class="col-md-6"> <span>{{todo.name}}</span> </div>
				<div class="col-md-6 text-right">
					<a class="btn btn-success" ng-click="completeTodo($index, todo)" style="border-radius: 6px">
						<i class="glyphicon glyphicon-ok"></i> Complete!</a>
					<a class="btn btn-danger" ng-click="removeTodo($index, todo)"> <i class="glyphicon glyphicon-remove"></i> Remove</a>
				</div>
			</div> <br>

			<!-- Complete items -->
			<h4 ng-show="(todos | filter:{status: 'complete'}).length">Completed</h4>
			<div ng-repeat="todo in todos | filter:{status: 'complete'}" class="row list-item bg-success">
				<div class="col-md-6"> <span>{{todo.name}}</span> </div>
				<div class="col-md-6 text-right">
					<a class="btn btn-success" ng-click="removeTodo($index, todo)"> <i class="glyphicon glyphicon-remove"></i> Remove </a>
				</div>
			</div>
		</div>
	</section>

	<!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Contact us</h3>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/degnoske/EECS448_Project_03" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
					<li>
                        <a href="mailto:nptvuong2912@gmail.com" class="btn btn-default btn-lg"></i> <span class="network-name">Email</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

	<!-- Footer -->
    <footer>
        <div class="container-fluid text-center">
            <p>Copyright &copy; EECS 448 - team 9, 2016</p>
        </div>
    </footer>


	<!-- jQuery -->
    <script src="js/jquery-1.12.3.js"></script>
	<script src="js/jquery-1.12.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="js/custom.js"></script>
	<script src="js/messages.js"></script>
	<script src="js/graphs.js"></script>
	<script src="js/todo.js"></script>
</body>
</html>
